* {
    box-sizing: border-box;
    background-color: #000038;

}

.appWrapper {
    display: flex;
    width: 150px;
    height: 200px;
    border: 2px solid cyan;
    background-color: #000038;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px auto;
}

.buttonBlockWrapper {
    display: flex;
    margin-top: 20px;
    border: 2px solid cyan;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    background-color: #000038;

}

.button {
    background-color: cyan;
    border-color: black;
    color: black;
    border-radius: 5px;
}

.button:hover {
    background-color: #000038;
    border-color: cyan;
    color: cyan;
}

.button:disabled {
    background-color: gray;
    border-color: gray;
    color: white;
    opacity: 0.4;
}